In [4]:
import pandas
ab = pandas.read_csv("kaggle/a.csv")
print ab[:]

       ImageId  Label
0            1      0
1            2      0
2            3      0
3            4      0
4            5      0
5            6      0
6            7      0
7            8      0
8            9      0
9           10      0
10          11      0
11          12      0
12          13      0
13          14      0
14          15      0
15          16      0
16          17      0
17          18      0
18          19      0
19          20      0
20          21      0
21          22      0
22          23      0
23          24      0
24          25      0
25          26      0
26          27      0
27          28      0
28          29      0
29          30      0
...        ...    ...
27970    27971      0
27971    27972      0
27972    27973      0
27973    27974      0
27974    27975      0
27975    27976      0
27976    27977      0
27977    27978      0
27978    27979      0
27979    27980      0
27980    27981      0
27981    27982      0
27982    27983      0
27983    27984      0
27984    27985      0
27985    27986      0
27986    27987      0
27987    27988      0
27988    27989      0
27989    27990      0
27990    27991      0
27991    27992      0
27992    27993      0
27993    27994      0
27994    27995      0
27995    27996      0
27996    27997      0
27997    27998      0
27998    27999      0
27999    28000      0

[28000 rows x 2 columns]